[2016-10-22 11:13] alexbirkett opened #1 "Nextbit Robin (Snapdragon 808?) support"
I built an example app that runs on the Samsung Galaxy S5 but not the NextBit Robin. I assume this is because the Snapdragon 808 is not supported.

[2016-10-22 14:43] alexbirkett commented on #1
I can reproduce the same problem on the LG K8 (also Snapdragon 808 based)

The app I used to test is [here](https://github.com/alexbirkett/QuietShare)

This is the exception
[code]

[2016-10-22 14:58] alexbirkett commented on #1
So this issue nothing to do with the processor. The problem is caused by missing permissions on Android 6.0

[2016-10-22 14:58] #1 closed

[2016-10-22 17:51] brian-armstrong commented on #1
I'm glad to hear you figured it out. Let me know how the app turns out 👍

[2016-10-22 18:51] alexbirkett opened #2 "How well can I expect org.quietmodem.Quiet to work?"
I've made a proof of concept [app](https://github.com/alexbirkett/QuietShare/tree/master)

I've tested with various quiet profiles but can't make it work reliably. It works occasionally with the phones spaced 30cm apart using the `audible-7k-channel-0` profile. I've tested other profiles too without much success.

Is there an official demo app for org.quietmodem.Quiet?

Do you have any tips to mak

[2016-10-22 19:08] brian-armstrong commented on #2
Hi Alex,

Sorry to hear that. Android phones can be a little tricky because the manufacturers sometimes add noise or echo cancellation to the mic which is nice for voice calls but degrades modem quality. Some also have multiple mics and this is something the library still needs to address.

I just pushed a change to the profiles file, quiet_profiles.json, to tweak the `audible` profile a little. `

[2016-10-22 20:52] aroldohernandezarmas commented on #2
Hi Brian
Very interesting this work of yours. I am testing your lib a bit, mostly the not wired profiles cause the speed you talk about seems to be a good achievement in data transmission with sound waves over the air. I am having a trouble when I run the receiver in more than on device. I am getting this Exception when the statement `recvLen = receiver.receive(buf);` is executed as shown in your

[2016-10-22 21:05] alexbirkett commented on #2
Thanks for the help! The changes to the `audible` profile unfortunately don't appear to make my app more reliable. Like aroldohernandezarmas [my app](https://github.com/alexbirkett/QuietShare/tree/master) calls `BaseFrameReceiver.receive` on the main thread (which blocks the UI). From time to time `receive` throws a IOException Unspecified I/O Error 9 exception. I'm testing with a Galaxy S5 and Ne

[2016-10-22 21:44] brian-armstrong commented on #2
I've pushed an update to the .so files that I think should take care of the Unspecified I/O Error.

One thing I'd be curious to know is whether https://quiet.github.io/quiet-js/ works in your mobile browsers, preferably Chrome.

libquiet does offer some diagnostics which are not presently exported to the Java wrapper. I could try to add those but I'm not sure whether the information will be useful

[2016-10-22 22:18] alexbirkett opened #3 "Build native libaries"
Is it possible to build the NDK code as part of the build process rather than just including the pre-built binaries?

[2016-10-22 22:20] brian-armstrong commented on #3
Maybe - it's a fairly involved process. I decided to include the JNI source since that's specific to this repo but bundle the binaries for everything else.

The script that produces the binaries is https://github.com/quiet/quiet-scripts/blob/master/build-android.sh but it requires some changes that I haven't pushed yet. I'm going to wrap that up and push what's left in the next few days.

[2016-10-22 22:25] alexbirkett commented on #2
The [profile lab]( https://quiet.github.io/quiet-profile-lab) does not run on the Samsung Galaxy S5. Some audio is played but it stutters.

If I run the lab on the desktop browser. I can make the S5 receive what appears to be garbage using my app.

The Nextbit Robin does not appear to be able to receive messages using my app.

[2016-10-22 22:36] brian-armstrong commented on #2
I wonder if I made the buffer sizes too aggressive. What happens if you do

[code]

before passing the configs to the Transmitter/Receiver constructors?

Again, thank you so much for testing. I'm going to do some more testing today and hopefully come up with a better approach to debugging.

[2016-10-22 22:57] brian-armstrong commented on #2
@aroldohernandezarmas Hi, to answer your questions, the reason your app is complaining is because waiting on the frame receiver blocks the main/UI thread from updating. In a polished app you will want to move the receiver to a separate thread and have it communicate to the UI thread with a Handler. However for testing purposes I believe it's ok to run it on the main thread and ignore the ANR warni

[2016-10-23 19:18] brian-armstrong commented on #2
@alexbirkett Thanks again for helping me test, I really appreciate it :)

I pushed a change which on my G2 appears to help significantly. I was previously acquiring sound as a stereo source and throwing away the right channel. I've switched to just asking for a mono channel. If you don't mind, I'd like you to try this new build out to see if it helps on your devices. It seems to have made a differ

[2016-10-23 19:27] brian-armstrong commented on #2
Also, the ultrasonic profile generally works best for me. Hard to say if that's just specific to my devices.

[2016-11-07 06:30] brian-armstrong commented on #2
@alexbirkett

I made some changes to the underlying DSP library in order to provide better reception at marginal levels. I also tweaked quiet to take advantage of these changes. All of this has been pushed here. On my device I'm seeing significantly improved reception, with some reception working as far as a few meters out, as long as the devices are oriented toward each other.

I've also enabled

[2016-11-20 09:00] setyongr opened #5 "opensl error code=0002"
Hi, i was trying [QuietShare](https://github.com/alexbirkett/QuietShare) sample app on my phone, but when i open it, it show
`error org.quietmodem.Quiet.ModemException: failed to initialize opensl recorder, opensl error code=0002`

and on the logcat it show
[code]
i run on my Xiaomi Redmi 3 Pro with Cortex-A53 CPU and Android 5.1.1

[2016-11-20 21:36] brian-armstrong commented on #5
Hi @setyongr,

Thanks for trying Quiet, and sorry to hear you're having troubles with it.

I have an idea about what's causing this bug, but I haven't been able to reproduce it on Android 5.1.0 in the simulator. I pushed a commit just now that disables an extension. Can you pull the latest HEAD of org.quietmodem.Quiet and try again, and let me know the result? If this change works then I can work

[2016-11-28 19:43] brian-armstrong commented on #5
Hi @setyongr

Have you had a chance to try with the latest commit in this repo? I'm curious to know if that fixes your bug.

[2016-12-05 04:16] winster opened #6 "How to implement UDP/TCP?"
@brian-armstrong in the usage, I could not see the instance of NetworkInterface being used later. Also what is the significance of 169.254.255.255 ?

[2016-12-05 05:47] brian-armstrong commented on #6
@winster Bringing up the NetworkInterface is analogous to running something like `eth up` on Linux. Quiet uses the NetworkInterface to configure the modulation settings and assign a particular IP. When you use the default networking stack (in Java or elsewhere) you do not need to specify which eth is used to send packets. Similarly, Quiet decides which interface to use automatically based on what

[2016-12-09 19:59] setyongr commented on #5
hi @brian-armstrong
thank for reply, and sorry for very late replying back.
the error gone on latest commit but i still cannot receive the text
on logcat it show
[code]

[2016-12-09 20:15] brian-armstrong commented on #5
@setyongr

I'm glad you came back and tried again. It's interesting to me that that change fixed your error, I wasn't sure it would have.

You can safely ignore that warning you posted. I'm not sure what issues that but it seems it always prints.

Can you share more about which profile you're tried sending with? And are you attempting to send between two phones on that profile?

[2016-12-09 20:20] setyongr commented on #5
@brian-armstrong
i'm trying to use audible and ultrasonic profile between two phone.

Transmitter work perfectly, i was able to transmit data from phone to quiet-js with audible and ultrasonic profile.

Only receiver on the phone that didn't work

[2016-12-09 21:12] brian-armstrong commented on #5
@setyongr
Just to confirm, can you be sure the app has the microphone permission? I think it would crash without it anyway, but I'd like to be sure.

When you say it works with quiet-js, do you mean quiet-js running on a computer or another phone?

I'll try to come up with some ideas for why it isn't working. Every phone is a little different so it's hard to guess without seeing it in person, but

[2016-12-13 20:11] brian-armstrong commented on #2
I'm closing this for inactivity. Like I mentioned previously I have made substantial improvements to this library so I recommend trying it, and feel free to open a new issue with any questions

[2016-12-13 20:11] #2 closed

[2016-12-26 12:19] emansih opened #7 "Some help needed"
Hello Brian.

I have been playing with this lib for a couple of hours and I'm stuck with a bug. When the receiver activity is first started, the logcat would show:

Subsequent start would show:

From what I understand, the microphone isn't initialized as per this [stackoverflow thread](http://stackoverflow.com/questions/20460892/audiorecord-start-status-38), which results in error status -38. But

[2016-12-26 17:47] brian-armstrong commented on #7
@emansih

Hi,

Sorry to hear it isn't working. From my experience you can safely ignore the line about AUDIO_INPUT_FLAG_FAST. It would be ideal if this didn't happen but I get it too and it doesn't seem to impact anything.

I'll take a closer look at this later. First, can you tell me what environment you're using, sim or device? And if sim, are you using the stock sim or Genymotion? The stock sim

[2016-12-26 21:29] brian-armstrong commented on #7
From that issue you linked it looks like not all devices will support Quiet's sample rate of 44.1 kHz. Fortunately Quiet does have its own resampler, I just need to add some functionality to the Android binding to probe available resample rates and select the correct one. But I would recommend in the meantime checking that you have the RECORD_AUDIO permission

[2016-12-27 00:05] emansih commented on #7
Hello,

yes, I do have ` <uses-permission android:name="android.permission.RECORD_AUDIO"/>` in my AndroidManifest.xml . I tried this on my Xperia Z3(stock Sony) Android 6.0.1 and Nexus 7(2013)(CyannogenMod) Android 7.0.1. I have uploaded the code to Github. https://github.com/emansih/sp_ats_reboot/blob/master/app/src/main/java/org/sp/attendance/ats/nearby/reboot/ReceiveActivity.java

The System Ti

[2016-12-27 02:05] brian-armstrong commented on #7
Ah, one thing I see is that you'll want to set the receiver into blocking mode by calling `receiver.setBlocking(seconds, nano)`. By default it is nonblocking. This isn't very clear, and I need to update the README about this, sorry. I'd recommend printing the exception messages where you can since I generally try to attach good messages to exceptions. In this case yours is probably complaining abo

[2016-12-27 14:58] emansih commented on #7
The receiving code for my project is mostly copied from your README.md, so...I am not really sure what am i doing wrong

[2016-12-27 15:40] brian-armstrong commented on #7
You can think of the FrameReceiver and Transmitter as behaving something like kernel sockets. They perform the actual transmitting/receiving on another thread. When the receiver decodes a frame, it places the frame into a receive queue. Calling receiver.receive() just pulls a single frame from this queue and places it in your buffer.

By default this call is nonblocking, so if there's no frame in

[2016-12-28 06:25] emansih commented on #7
Thanks, I used the example from QuietShare to get everything to work. :D closing the issue. Once again, thanks.

[2016-12-28 06:25] #7 closed

[2016-12-28 08:09] brian-armstrong commented on #7
Glad to hear it helped. Your feedback will help me come up with better documentation.

Does this mean you have transmitted successfully between both devices?

[2016-12-28 08:36] emansih commented on #7
Yes, I have successfully transmitted ultrasonic-experimental between both devices. I'm using this lib for a school project

[2016-12-28 22:45] brian-armstrong commented on #7
Awesome! That sounds like a fun project.

When you finish the project, consider putting a writeup on Medium or somewhere like that. I think there are a lot of people who would be interested in knowing what you learn :)

[2017-01-04 13:02] vishal2947 opened #8 "Some reliablitiy issue"
Hi,
I am trying out this library and noticed - This only works when mic and speaker are just opposite of each other.
I checked out another app "S-Contact" (https://play.google.com/store/apps/details?id=com.totmob.scontact&hl=en") which works fairly well even at longer distance. One reason i can think of is sound produced by "S-Contact" app is louder than what produced by "Quiet".

Is there any way

[2017-01-04 16:58] brian-armstrong commented on #8
Hi @vishal2947,

Sure, the easiest way to try this is by increasing the gain value for the profile you're using in quiet_profiles.json. The largest value it accepts is 0.50.

Which profile are you trying? Some do better at high transfer throughput but short distances. ultrasonic-experimental is probably the best for long distances.

Cheers

[2017-01-05 07:43] vishal2947 commented on #8
Thanks for quick response. I was using "audible-7k" profile but 5 out of 10 times data transfer was missed. I also tried ultrasonic but again distance was issue. I will try again after increasing the gain value and will let you know the outcome.

[2017-01-05 08:29] brian-armstrong commented on #8
Hi @vishal2947,

If you haven't tried "ultrasonic-experimental" I'd definitely recommend it. It's a much slower modem but more reliable, and you might have better luck tuning it into what you want. "audible-7k" is definitely very short range as you have discovered.

Also, it might be worth trying the voice_recognition_preset branch of this repo. It makes a small change that might improve your tran

[2017-01-11 23:38] brian-armstrong commented on #8
I'm closing this issue for inactivity. If you try again and have further questions or problems please feel free to open a new issue

[2017-01-11 23:38] #8 closed

[2017-03-10 06:19] andresc889 opened #9 "Compatibility with C version"
Hi there! This is a wonderful library. I've gotten the C version to work reliably between two computers. I have also gotten the Android version to work between my phone and Genymotion. However, my final goal is to transmit a message from a computer to a phone. Here's what I tried:

1. Download the profiles from here (https://github.com/quiet/org.quietmodem.Quiet/blob/master/quiet/src/main/res/raw/

[2017-03-10 06:37] brian-armstrong commented on #9
Thanks for giving it a try :)

I'm sorry you ran into that. I actually have the fix sitting around but hadn't pushed it because I was debating how to best handle it. But now I'm feeling dumb for my inaction since you spent so much effort debugging this.

Basically, I discovered a single line in liquid-dsp that behaves differently depending on whether you compile it with clang or gcc. Weirdly, it w

[2017-03-10 06:51] brian-armstrong commented on #9
The branch is msequence_ordering https://github.com/quiet/org.quietmodem.Quiet/tree/msequence_ordering

[2017-03-10 06:51] andresc889 commented on #9
Wow! Thanks for the quick reply. Please don't feel bad. I didn't spend that much time debugging, and doing so actually helped me understand Quiet a little better, so it actually benefited me because I will be using it. In my attempts I was able to transmit a Makefile from a Rasperry Pi to a virtual machine with ultrasound and almost no errors. That was exciting. Thanks for taking the time to push

[2017-03-10 07:07] brian-armstrong commented on #9
Yeah, no problem. And if you do run into any more issues, don't hesitate to reach out.

I'm actually really excited to hear it works on RPi. I hadn't tried it on mine yet, as I still need to get an audio setup for it.

[2017-03-10 07:16] andresc889 commented on #9
I just tried it with my virtual machine sending a message to my phone using the ultrasonic profile. It works perfect! The final target is the RPi, so I'll test it tomorrow since I don't have it with me currently. The compilation process in RPi was smooth, so your library is quite portable. Great work you've done! You need to advertise it more :) I had first tried a library called android-fskmodem,

[2017-03-10 07:23] brian-armstrong commented on #9
Awesome stuff! And thanks again.

You can thank [liquid-dsp](https://github.com/jgaeddert/liquid-dsp) for the range of modulation. I was so excited when I realized how much it does, and I'm quite happy with how I made it easy in Quiet to switch without recompiling.

I've tried to do some promotion, but people are a little skeptical. I've considered making a youtube of it in action or something. I'

[2017-03-10 07:43] andresc889 commented on #9
Absolutely! I plan on using it as part of my master's thesis project, so I'll cite you every chance I get and hopefully the thesis will be worth showing off.

[2017-03-11 07:41] andresc889 commented on #9
Tested transmitting from RPi to phone. Works great! I'll close the issue. Thanks for your help again.

[2017-03-11 07:41] #9 closed

[2017-03-14 11:11] winster opened #10 "Quiet - what is the frequency?"
Hello,

I want to send some text, continuously. So if I call transmitter.send(myData) in a timer task and run it continuously, will it work? Currently receiver is not picking the data

[2017-03-14 17:09] brian-armstrong commented on #10
Hi @winster

Yes, calling transmit with a timer should work.

Which profile are you using? If you use the audible profile, can you hear it transmitting? Can you get the receiver to receive anything?

[2017-03-18 13:28] winster commented on #10
Thanks @brian-armstrong. That worked. I used ultrasonic.

Also noticed a problem with an older Android device (Asus - SDK Version 19). There Im getting an issue while setting up receiver.

no.birkett.quietshare W/AudioRecord: AUDIO_INPUT_FLAG_FAST denied by client
no.birkett.quietshare A/libc: Fatal signal 4 (SIGILL) at 0x61ab3825 (code=2), thread 4773 (AudioRecord)

Stackoverflow suggests to redu

[2017-03-31 17:18] setyongr commented on #5
@brian-armstrong
sorry i have abandoned this issue. it have microphone permission and quiet-js running on a computer.
I've noticed that this project has been updated and i will try it again and give report if it already work on my device

[2017-08-21 10:31] Niteesh opened #11 "Error:error: typedef redefinition with different types ('__kernel_fd_set' vs 'struct fd_set')"
Information:Gradle tasks [:app:assembleDebug]
Error:error: typedef redefinition with different types ('__kernel_fd_set' vs 'struct fd_set')
/Users/niteesh/Library/Android/sdk/ndk-bundle/sysroot/usr/include/sys/select.h
Information:(46, 3) previous definition is here
Error:error: typedef redefinition with different types ('u32_t' (aka 'unsigned int') vs '__socklen_t' (aka 'int'))
/Users/niteesh/Lib

[2017-08-21 16:09] brian-armstrong commented on #11
Which architecture and Android OS are you targetting?

[2017-08-24 13:10] beznadega727 commented on #11
windows 7x64, android 5.0.1, API 21 (samsung GT-I9500)

[2017-08-26 02:00] andrescj commented on #11
It looks like I'm having the same problem. Here's my system information:

Developing on Ubuntu 16.04.3-x86_64
Targeting Android 4.2.2 API 17 (Samsung GT-N5110, ARMv7)

Thanks!

[2017-08-26 02:57] andrescj commented on #11
I seemed to have found a temporary solution. I was using the latest version of NDK (r15c). I downgraded to r14b and now it works fine.

To do that, I downloaded the zip file from here: https://developer.android.com/ndk/downloads/older_releases.html. I unzipped it and renamed the **android-ndk-r14b** folder to **ndk-bundle**. I then removed the **Android/sdk/ndk-bundle** and moved the unzipped one

[2017-08-26 03:45] brian-armstrong commented on #11
Wow, great catch.

It's almost certainly related to https://android.googlesource.com/platform/ndk/+/ndk-r15-release/docs/UnifiedHeaders.md

As you can guess, I developed on r14. I'll take a look and see if I can fix this. I suspect most likely I will have to break support for r14 and older

[2017-08-26 03:51] andrescj commented on #11
Interesting. I can't try it just now, but maybe it will work with r15 by disabling the unified headers as described in that document.

[2017-09-01 21:25] hosseinpro opened #12 "Error after adding Quiet library"
Hi
I built Quiet successfully and added "quiet-debug.aar" to my app project. In addition, I added "    compile project(':quiet-debug')" to "build.gradle".
When I compile my project its ok, but when I run it I get this error:

AndroidRuntime: FATAL EXCEPTION: main
                                                   Process: ..., PID: 14939
                                                   java.lang

[2017-09-02 16:52] hosseinpro commented on #12
Finally, I found the problem. I created an empty activity and removed "Backward Compatibility (AppCompat)". So, my problem have been solved.

[2017-09-22 21:32] mustafasezgin commented on #11
Any luck here? I tried setting the `APP_DEPRECATED_HEADERS := true` value in the Application.mk file but this did not seem to work. The feature to disable the unified headers seems not to be documented in r16 (https://android.googlesource.com/platform/ndk/+/master/docs/UnifiedHeaders.md) or available as an option with the gradle plugin.

To fix this, it looks like you need to update the quiet lwip

[2017-10-17 15:23] eelcocramer commented on #8
I'm investigating if I can replace Google Nearby with the Quite library for Android. Google Nearby can be used to discover devices that are in the same room using ultrasound, but it uses the Google Server to send the actual data between these devices. As my data payloads are relatively small I'm looking for a way to send my payload directly to surrounding devices.

Quiet looks like a very nice sol

[2017-10-17 16:13] brian-armstrong commented on #8
@eelcocramer

I would definitely recommend reducing the gain. Less gain normally helps, I had only suggested more there as a debugging idea

Try increasing samples_per_symbol. If you only need to transmit a short identifier, the slower transmission speed won't be too bad, and you might get more distance.

Also you could set checksum to "none" so that you get transmissions that have small errors in

[2017-10-18 07:32] eelcocramer commented on #8
Thank you @brian-armstrong. I will play with these values to see if it improves the distance for me.

[2017-11-20 13:11] relinn opened #13 "Quiet module creating issues after adding into project"
Error:Execution failed for task ':quiet:ndkBuild'.

[]([](`buildscript {
    repositories {
        maven { url 'https://maven.fabric.io/public' }
    }

    dependencies {
        classpath 'io.fabric.tools:gradle:1.+'
    }
}
apply plugin: 'com.android.application'

repositories {
    maven { url 'https://maven.fabric.io/public' }
}

android {
    compileSdkVersion 26
    buildToolsVersion "26.0

[2018-01-04 12:08] canhenrik opened #14 "failed to initialize opensl recorder, opensl error code=0009"
Hey,
i am trying to setup the quietshare app on android 4.0.4 and i got everything working except the receiver on the phone gives me the mentioned error. The code was build without any problems. Any idea, what i have to change to get the receiver working?
Thanks in advance and thanks for this great project!

[2018-01-04 19:08] brian-armstrong commented on #14
Are you running in the default emulator by any chance? It doesn't support the microphone

[2018-01-04 19:13] canhenrik commented on #14
no, im running it on my phone (samsung galaxy gt-s7562). The message pops up in the app itself. I can still transmit. Receive just doesnt work and it shows the error message.

[2018-01-04 19:27] canhenrik commented on #14
Here is the logcat, i hope that helps:

01-04 20:26:52.000: E/AudioHardwareMSM7X27A(113): More than one instance of recording not supported
01-04 20:26:52.000: V/AudioHardwareMSM7X27A(113): AudioStreamInMSM72xx destructor
01-04 20:26:52.000: V/AudioPolicyManagerBase(113): getInput() failed opening input: samplingRate 44100, format 1, channels 12
01-04 20:26:52.000: E/AudioRecord(16513): Could not

[2018-01-05 19:43] canhenrik commented on #14
when running the app for the first time, the receiver works fine. But it seems that the closing of the receiver does not really work when the spinner is used. In the FrameReceiverObservable.java the unsubscribe method does'nt really close the receiver, because the first error i get when changing something in the spinner is the above mentioned error, that only one recording instance is supported. A

[2018-01-05 20:00] brian-armstrong commented on #14
Sorry, what codebase is this? There is no FrameReceiverObservable.java in this repo.

[2018-01-05 20:01] brian-armstrong commented on #13
Sorry, I don't think I know how to help with this. It sounds like an Android Studio config issue.

[2018-01-05 20:01] #13 closed

[2018-01-05 20:02] #12 closed

[2018-01-05 20:02] brian-armstrong commented on #11
I still want to fix this. Sorry for the delay, I know this is a blocker.

[2018-01-05 20:03] #10 closed

[2018-01-05 20:03] #6 closed

[2018-01-05 20:03] #5 closed

[2018-01-05 21:52] canhenrik commented on #14
sorry, i meant the BaseFrameReceiver.java. The close method there is called from the quietshare app in FrameReceiverObservable.java and it doesnt seem to really close the recorder, at least on my phone.

[2018-01-06 02:11] brian-armstrong commented on #14
It looks like there's some sort of destructor that runs just after that. Is it possible that you're creating a new receiver before the old one has been destroyed?

[2018-01-06 02:23] brian-armstrong commented on #14
My best guess otherwise is that this happens because Quiet only destroys/deallocates one of the objects on gc, which may never happen. It's possible this destroy has to be moved up to close time.

[2018-01-06 11:24] canhenrik commented on #14
I fixed the issue by changing the close() method in BaseFrameReceiver.java to:
public void close() {
        this.nativeClose();
        nativeFree();//added to avoid complication with multiple receiver instances on Android 4.0.4
    }
Thank's for your help and again thanks for this great project!

[2018-01-06 20:11] #14 closed

[2018-01-07 02:53] brian-armstrong commented on #14
I'm glad that fixed it for you. I'm not sure I want to make that change to the repo. Ideally, users could close the receiver but then continue receiving any frames out of it that are still in the queue. It seems like the right fix will entail having close deallocate the recorder, but not the quiet receiver.

[2018-01-07 08:59] canhenrik commented on #14
I found a better solution by adding the following code to _nativeClose():
JNIEXPORT void JNICALL Java_org_quietmodem_Quiet_BaseFrameReceiver_nativeClose(
        JNIEnv *env, jobject This) {
    jvm_pointer j_dec = (*env)->GetLongField(env, This, cache.decoder.ptr);
    quiet_android_decoder *dec = (quiet_android_decoder *)recover_pointer(j_dec);
    android_decoder_terminate(dec);
    //destroy r

[2018-01-15 14:23] mustafasezgin commented on #11
Thanks Brian, let me know if there is something I can help with

[2018-01-22 08:47] brian-armstrong commented on #11
Hi @Niteesh @beznadega727 @andrescj @mustafasezgin

I believe the new fix I have in will get this particular bug. Can you check if that fixes compilation for you? Sorry for the delay!

[2018-01-22 12:23] brije111 opened #15 "Error:error: #endif without #if"
Right after importing in android studio 3.X.X

[2018-01-23 12:47] brije111 commented on #15
Thanks for fixing the issue but now I came across one new issue. Now I can't find any 'Run Configuration' available to run this project as an android application.
![screenshot from 2018-01-23 18-13-52](https://user-images.githubusercontent.com/11292348/35276498-98bcb33a-0069-11e8-8818-48e21a9fee42.png)

[2018-01-23 18:49] brian-armstrong commented on #15
That's because this isn't an application. It's just a library. If you want to see a sample app using this library, check out https://github.com/alexbirkett/QuietShare

[2018-02-02 20:12] saefbadwan opened #16 "Whats the range of the signal how much can it reach"

[2018-02-02 21:17] brian-armstrong commented on #16
@saefbadwan Try the demo for yourself https://quiet.github.io/quiet-js

[2018-02-10 10:34] Cl1608Ho commented on #3
This should not be too hard at all. Any updates on the script?

[2018-02-10 18:15] brian-armstrong commented on #3
I made some good progress on this recently. Previously this required building the NDK's standalone toolchains. Now I'm close to a build that doesn't require those. Once it's ready, I'll remove the static libs and just have it built alongside the library. It hasn't been a high priority for me though.

Is this something you'd like to see? I know shipping and using blobs isn't awesome.

[2018-02-10 19:36] Cl1608Ho commented on #3
When I implemented a really similar thing in zstd it was as simple as adding two instructions to the cmake file to include the library for compilation plus adding a line to the Java part to load it (you probably already have that).

I might look at it, not sure yet.

[2018-02-10 19:46] brian-armstrong commented on #3
Before the unified headers, building was pretty complicated. The `configure` phase for libquiet's dependencies needed to be massaged carefully depending on the arch and API version targeted. Now it looks like this isn't needed, thankfully, but it's still somewhat fragile and bespoken. Still won't be as simple as adding a couple lines since the dependencies have to be built in a specific order. Als

[2018-02-20 14:10] samirk433 opened #18 "In the given sample sSend.send(p) throws java.net.NoRouteToHostException"
Hello there,
I simply don't understand how this lib works, the documentation isn't good, sorry. Is there any example/demonstration which can be run on both devices (sender, receive; in this case, both are phones).

I tried the given examples, Frame Mode ones worked, it run. But I couldn't send data between devices.
Now, I'm trying the TCP example and it always throws exception; _java.net.NoRouteTo

[2018-02-20 17:06] brian-armstrong commented on #18
Have a look at how the sample app works https://github.com/alexbirkett/QuietShare

[2018-02-22 10:04] #16 closed

[2018-02-22 10:04] #18 closed

[2018-02-22 10:04] #15 closed

[2018-02-22 10:05] #11 closed

[2018-03-13 22:18] mitdre opened #19 "when using README example code, exception is thrown"
[code]
when using provided code example shown above, this exception is thrown.

[code]

[2018-03-13 22:20] brian-armstrong commented on #19
Can you show me all of your imports for that file, or better yet, link to the project itself? It looks like you may be importing java.net.Socket

[2018-03-13 22:22] mitdre commented on #19
[code]

[2018-03-13 22:26] brian-armstrong commented on #19
Thanks, I'll take a look later

[2018-03-13 22:50] brian-armstrong commented on #19
As a temporary workaround, you can just delete `sRecv.setSoTimeout(10000);`, though it does mean that receiving will block forever until it gets a packet. You'd want to run that on a non UI thread.

[2018-04-11 00:00] mitdre opened #21 "InputStream.available() non functional for socket"
InputStream.available() will currently throw a generic IOException irrespective of there being bytes available to read from the input buffer

[2018-04-14 20:32] brian-armstrong commented on #21
I'm pretty sure this is blocked on me being able to build the deps again. I think we're just missing a flag that needs to be compiled in. I need to get moving on that :)

[2018-05-01 14:59] Sumit-Chakole opened #22 "Complete string is not received at once"
I am sending 40 characters long string from webapp (queitjs) to android app (quiet android sdk). However I am receiving this string in parts of 32 and 8 characters. I have used code as stated in samples as below-

`transmit.transmit(Quiet.str2ab(cryptogram));`

[code]

[2018-05-02 00:52] Sumit-Chakole commented on #22
Thanks @brian-armstrong , that solves my issue :)

[2018-05-02 00:52] #22 closed

[2018-05-05 13:17] alexanderon opened #23 "Can not build with Android Studio 3.0.+"
Please upgrade the project gradle files compatible with the latest Android Studio version gradle version.

[2018-05-05 15:56] brian-armstrong commented on #23
This issue is not descriptive of any errors received

[2018-05-05 15:56] #23 closed

[2018-05-13 21:59] brian-armstrong commented on #23
@alexanderon

I went ahead and tried Android Studio 3 and was able to get the tests passing with Android Studio 3.1.2. Can you give me a description of what failed - what the message was and where it occurred?

[2018-07-28 06:25] dstechs opened #24 "Initializing "NetworkInterface" echos sound without send or receive"
### Intialialize (onCreate())
[code]
[code]

[code]

once I call initNetwork() sound transmittion plays audio for min 3 times
Please check video for more clarification
[issue_video.zip](https://github.com/quiet/org.quietmodem.Quiet/files/2237722/issue_video.zip)

[2018-07-30 15:46] XieZhuoJun opened #25 "Android Studio 3.2 throw out error"
**Error log**
[code]

**build.gradle**

[code]

[2018-08-06 15:31] #25 closed

[2018-10-25 06:53] moyokoo commented on #25
@XieZhuoJun  请问是如何解决

[2018-11-29 04:18] AcharyaPreetham opened #26 "how to use the firebase plugins in android studio 3.2.1"
Im having one project which is developed in Android Studio 2.version now im going to update that software in Android Studio 3.2.1 im getting error like this

Output:  E:\Barakah_ Admin\app\build\intermediates\incremental\mergeDebugResources\merged.dir\values\values.xml:994: error: <item> inner element must either be a resource reference or empty.
E:\Barakah_ Admin\app\build\intermediates\increment

[2018-11-29 07:20] brian-armstrong commented on #26
I don't think this issue is related to quiet. Please keep issues here related to Quiet issues only. Thanks!

[2018-11-29 07:20] #26 closed

[2019-03-09 14:58] bijesh-pv opened #27 "Fatal signal 4 in asus"
Hi,

Will tried to receive the audio QR using the Asus device (Asus T00J) and the application is crashing.
OS : Android Version 5.0 (Lollipop)
Device Details : https://www.gsmarena.com/asus_zenfone_5_a500cg_(2014)-5952.php

The crash details from the log :
AUDIO_INPUT_FLAG_FAST denied by client
A/libc: Fatal signal 4 (SIGILL), code 2, fault addr 0xa042c885 in tid 8138 (AudioRecord)

The code for r

[2019-03-09 20:31] brian-armstrong commented on #27
Hi,

I think your app is missing audio record permissions.

Brian

[2019-03-14 19:48] bijesh-pv commented on #27
Hi Brain,

We have already added the audio record permissions
 <uses-permission android:name="android.permission.RECORD_AUDIO" />

Thanks & Regards
Bijesh

[2019-03-15 07:49] brian-armstrong commented on #27
Unfortunately I don't have the device to test on so I can't really say. Your best bet would be to modify the source code and try to stop the crash. You might have luck trying different sample rates or depths.

[2019-04-10 15:07] assemmohamedali commented on #8
any news @eelcocramer ?

[2019-04-10 19:23] eelcocramer commented on #8
It didn’t really work for me at that time.

[2019-04-29 07:42] chanduthedev opened #28 "how to create a new profile?"
Hi Brian, I would like to create a new profile with 21000 frequency. Is it possible to create that? if yes, can you please guide me the steps to do that.
Thanks in advance.

[2019-04-29 09:15] chanduthedev commented on #28
I tried to change the value of center_frequency to 21000 for **ultrasonic** profile but it didn't worked. Do I need to modify any other values in the profile or any code changes required for this to work?
Thanks in advance.

[2019-04-29 18:50] brian-armstrong commented on #28
Yes, it should be as simple as changing the center frequency though you will also need to change interpolation to avoid aliasing at 44.1 kHz sample rate.

Can I ask how you decided on 21000? You're going to make things harder on yourself at that frequency since that will be heavily attenuated by most sound devices.

[2019-04-30 01:17] chanduthedev commented on #28
Hi Brian, thanks for quick reply. Its my bad, bymistake i closed this thread, so reopened it. I am trying to transfer data between mobile devices. and I read ultrasonic frequency is above 20000, so I was trying with 21000. And I also tested with **ultrasonic-experimental**  profile, it works for ~70cm between samsung and apple devices. sometimes it worked for 1.5m as well. But not consistent.

[2019-05-30 03:31] JoinBelieve opened #29 "[HELP] setSoTimeout throw SocketException"
java.lang.RuntimeException:Unable to start activity ComponentInfo{com.example.asus.mytrain/com.example.mytrain.kotlin.ui.UdpTransmitActivity}: java.lang.RuntimeException: java.net.SocketException: failed set socket option

I download QuietShare sample , that  no found TCP mode .

[2019-05-30 07:43] JoinBelieve commented on #29
I remove setSoTimeOut , it working . but have a new problem agin.

 sRecv = new DatagramSocket(new InetSocketAddress("169.254.255.255", 3334))

Q1 :  I change hostname . it not working.
Q2 : recveive data have garbled code .

such as [ text = � ]

[2019-07-04 15:45] ukch opened #30 "x86_64 precompiled libraries are badly linked"
I am trying to build my own library on top of this library. When running my tests, the native C libraries (e.g. `libcomplex.so`, `libfec.so`) will not load and I get the following error in Java:
[code]
Running `ldd` on the precompiled `libfec.so` yields this output:
[code]
(On my system, the correct path for `libc.so` is `/lib/x86_64-linux-gnu/libc.so.6`)

Here's some details of my system:
[code]

[2019-11-21 21:47] StevenConyers opened #31 "target specific option mismatch with devel branch quiet-dsp"
Brian -- I am trying to build quiet modem.  I misread directions and installed current liquid-dsp on my Ubuntu 18.04 system.  It compiled and tested well, but cmake for quiet said I had to switch to devel branch.  The location specified was obsolete but I believe that the proper version could be obtained via:
git clone https://github.com/quiet/quiet-dsp.git
Is this correct?  I cloned it and ./conf

[2019-11-22 01:11] brian-armstrong commented on #31
Hi Steven,

I'm a bit confused about this issue being on the Android repo. To clarify, are you trying to build the libraries for Android? Some do come baked in already so that shouldn't be necessary, and if you want to rebake your own it's a somewhat involved process that may not work in the new SDK.

[2019-11-22 20:41] StevenConyers commented on #31
Sorry for inadvertantly posting issue in wrong place.  Not android, ubuntu
18.04 linux 64bit Intel i7.  Although I have cloned many times from github
repos, I have never been a "member" until prompted to join in order to post
questions to you.  Got sort of wrapped around the axle in the posting.
I resolved the issue of not being able to build quiet-dsp by adding
-msse4.1 to CONFIG_CFLAGS in the ma

[2019-11-23 09:46] brian-armstrong commented on #31
Hi Steven,

The reason that method fails is because you removed the check that tries to ensure you have the right version of liquid installed.

Most likely, you will want to make sure you install the devel branch of the liquid repo from my fork and make sure it's suitable make install'd. If the safety check passes in CMake then you should be good to go.

Brian

[2019-11-23 18:05] StevenConyers commented on #31
Thanks Brian.  Even after switching to your variant of liquid-dsp (which
you call quiet-dsp) I still had to remove the safety checks.  I will try
again with a clean system.  My goal is to run in a browser with everything
built from source and I am prepared to be persistent and tenacious.  Your
design is terrific.
Steve
San Ramon CA

On Sat, Nov 23, 2019, 1:46 AM Brian Armstrong <notifications@gith

[2019-11-24 00:27] StevenConyers commented on #31
Brian -- Starting over on a clean system (raspberry pi 4 instead of a dell
i7 with ubuntu 18.04) I got the same complaint.  See below.  Does the
safety check itself need to be updated?  Do these email dialogs get into
the github issue discussion?  If it is more appropriate and you have the
patient, you could reply to me directly at stevenjconyers@gmail.com.
pi@raspberrypi:/media/pi/Elements/qmodem

[2019-11-24 03:53] brian-armstrong commented on #31
Can you run `git status` from the liquid dsp directory and tell me what it prints?

[2019-11-24 04:27] StevenConyers commented on #31
I just left work so I won't be able to do that from my i7 system until
Monday.  However I was able to get the work system to make completely as
follows:  instead of using the quiet-dsp that the quiet page points to,
i.e., your fork, I switched to the version of liquid-dsp pointed to by
CMakeLists.txt in the ~/quiet directory.  Still had to remove the version
test, but it built completely including

[2019-11-24 17:46] StevenConyers commented on #31
This is from the repo I cloned in accordance with https://github.com/quiet
, i.e., the fork:

pi@raspberrypi:/media/pi/Elements/qmodem/quiet-dsp $ git status
On branch master
Your branch is up to date with 'origin/master'.

nothing to commit, working tree clean
pi@raspberrypi:/media/pi/Elements/qmodem/quiet-dsp $

Switching to the repo suggested by the error message from
quiet/CMakeLists.txt, name

[2019-11-24 20:53] brian-armstrong commented on #31
In the quiet directory, if you ran `bootstrap` you should have a `build` directory. In that directory there should be a `CMakeFiles` directory and inside that a `CMakeOutput.log`. Can you find the bit that says
[code]
and paste what comes after?

I believe in that directory there may also be a `CMakeError.log` that contains more specific info. If you could paste both or just the `CMakeError.log` c

[2019-11-25 06:24] StevenConyers commented on #31
Because quiet appeared to be building ok with the liquid version check
hacked out on my raspberry pi, I proceeded to attempt the encoder example
and got a couldn't find liquid.h when I did a
gcc encoder.c -o encoder -lquiet -ljansson -lportaudio -lliquid -lfec
so I noticed that quiet.h was not in /usr/local/include thus I concluded
that perhaps quiet was not fully installed after all.  I blasted o

[2019-11-25 21:08] StevenConyers commented on #31
Hi Brian.

user1@Lap4-Precision-5540:~/quiet$ ./bootstrap
CMake Error at CMakeLists.txt:65 (message):

  libquiet requires the devel branch of libliquid but

    found a different branch installed

  fetch the devel branch using

      git clone https://github.com/quiet/liquid-dsp.git -b devel
--single-branch

  and install it before continuing

-- Configuring incomplete, errors occurred!
See also

[2019-11-28 00:46] StevenConyers commented on #31
Hi Brian.  The errors that I was getting initially when trying to run your
encoder.c example were due to portaudio not finding any audio devices.  I
installed the Advanced Linux Sound Architecture (ALSA) package and now I
can build and run all of the pure portaudio examples with good sound
outpt.  I then changed the gcc options for encoder to be
 gcc -g encoder.c -o encoder -lquiet -ljansson -lpor

[2019-11-30 17:33] StevenConyers commented on #31
Good morning Brian.  All is good now.  Instead of using the (probably
outdated) source code on the Documentation>Examples page, I switched to the
files quiet/programs/encode_soundcard.c and decode_soundcard.c and now I am
making some nasty hissing/squawking sounds (when "audible") and recovering
fairly large files on the decode side without any errors.  Getting a few
annoying complaints from ALSA

[2020-04-12 08:24] debu-rnpr opened #32 "LoopbackFrameReceiver receives data even if the volume is 0"
Created a sample activity and implemented the LoopbackFrameReceiver, LoopbackFrameTransmitter. Then I connected my device to a speaker(via Bluetooth) and start the activity received data in the receiver.

I was expecting that no data will be detected as the volume was 0, but it detects how?

**note - I am using the spectrum-analyze app to detect generated sound**

[2020-04-12 08:40] brian-armstrong commented on #32
The Loopback device is an entirely virtual device that's there for testing purposes so that tests can run without needing the sound device. It will certainly work even if the volume is 0 since it doesn't ever engage the speaker or mic

[2020-04-12 21:43] #32 closed

[2021-02-03 14:16] chall3ng3r opened #34 "Any plans to support Flutter / Dart?"
I'm looking for similar functionality in a Dart package for use in Flutter apps. Any plans to add support or pointers?

[2021-11-08 19:17] abibell opened #36 "Working sample is better than instructions"
Hi,

I realise you have simple looking instructions to get this working. Do you have a working Android sample which demonstrates sending and receiving? It will boost library adoption rates.

[2022-06-15 06:22] kevinscience commented on #36
Please to have a working sample.

[2022-08-14 09:07] karanjaxyz commented on #34
are you still interested?

[2022-08-14 10:04] chall3ng3r commented on #34
Yes, interested.